#example-percentages {
    border: solid 2px black;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#example-percentages table {
    width: 100%;
}

#example-percentages thead tr {
    color: white;
    background-color: black;
}

#example-percentages tbody tr {
    background-color: white;
}

#example-percentages table th {
    padding: 3px;
    font-weight: bolder;
}

#example-percentages table td {
    padding: 3px;
}