#version{
    float: right;
    margin-right: 5px;
    color: grey;
    font-weight: bolder;
    font-size: 1em !important;
}

.more-info-row .text{
    font-weight: bolder;
}

span.disclosure {
    float: right;
    margin-right: 5px;
    width: 16px;
    height: 24px;
    -webkit-mask-image: url('../images/right_arrow.png');
    background: grey none;
}