@import "compass/css3/border-radius";

h1.first-time-launch-header {
  font-weight: bolder;
}

.first-time-launch-list {
  .unavailable {
    color: grey;

    .x-list-disclosure {
      display: none;
    }

    .coming-soon {
      color: #444;
      font-size: 80%;
      font-weight: normal;
      float: right;
    }
  }

  $listBorder: solid 2px #a9a9a9;
  .routine-entry.x-list-item {
    border-left: $listBorder;
    border-right: $listBorder;
  }

  .routine-entry.x-list-item-first {
    border-top: $listBorder;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
  }

  .routine-entry.x-list-item-last {
    border-bottom: $listBorder;
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
  }

  .routine-entry {
    background-color: white;
    font-weight: bolder;
  }
}