.lift-row, .lift-percentage-row {
    font-size: 1.5em;

    .reps{
        font-weight: bolder;
        padding-right: 1em;
        padding-left: 0.4em;
    }
    .reps:after{
        content: 'x';
    }
    .reps.last{
        color: #338533;
    }
    .reps.last:after{
        content: '+';
    }
}

.lift-row {
    .percentage {
        float: right;
        font-size: 0.7em !important;
        margin-top: 0.3em;
        color: grey;
        margin-right: 10px;
        }
}


.lift-row.x-list-item, .lift-percentage-row.x-list-item {
    .x-list-item-label{
        padding: 0.3em;
        min-height: 0;
    }
}

.x-list-item.done .x-list-disclosure {
    -webkit-mask: 0 0 url('../images/tick.png');
    background: green none;
}

img.done, .x-button .x-icon-mask.done {
    -webkit-mask-image: url('../images/tick.png');
}

img.settings, .x-button .x-icon-mask.settings {
    -webkit-mask-image: url('../images/settings.png');
}

#cycle-indicator{
    color: white;
    text-align: right;
}