$fontSize: 1.1em;
$dateFontReduction: 0.85;

#no-log-help-text-container{
 position: relative;
}

#no-log-help-text{
    text-align: center;
    color: #a9a9a9;
    position: absolute;
    top: 50%;
    font-size: 1em;
    margin-top: -1em;
    width: 100%;
    padding: 0 0.5em;
}

.lift-log-row {
    table{
        width: 100%;
        tr{
            td {
                    width: 25%;
                }
        }
    }

    .lift-name {
        font-size: $fontSize !important;
        font-weight: bolder;
    }

    .weight {
        font-size: $fontSize !important;
    }

    .reps
    {
        color: #666;
        font-size: $fontSize !important;
    }

    td.date-week{
        text-align: right;
    }

    .date, .week {
        font-size: $dateFontReduction * $fontSize !important;
        margin-top: $fontSize - $fontSize * $dateFontReduction;
        color: #666;
    }
}