#reps-to-beat-toolbar {
  color: white;

  table.reps-to-beat-text {
    width: 100%;
  }

  #reps-to-beat-panel {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.x-button.rest-timer-button {
  padding-left: 0;
  z-index: 11 !important;
}

$liftRowFontSize: 1.5em;
.lift-row {
  background-color: white;

  .bar-loader-breakdown {
    display: block;
    padding-left: 0.4em;
    font-size: 90%;
  }

  .percentage {
    float: right;
    color: grey;
    margin-right: 10px;
  }
}

.lift-row.x-list-item, .lift-percentage-row.x-list-item {
  .x-list-item-label {
    padding: 0.2em;
    min-height: 0;
  }
}

.lift-percentage-row {
  .percentage {
    font-size: $liftRowFontSize;
  }
}

.lift-row {
  .percentage {
    font-size: 1.2em;
  }
}

.lift-row, .lift-percentage-row {
  .delete-button-holder {
    font-size: inherit;
  }

  .reps {
    font-size: $liftRowFontSize;
    font-weight: bolder;
    padding-right: 1em;
    padding-left: 0.4em;

    &:after {
      content: 'x';
    }
  }

  .weight {
    font-size: $liftRowFontSize;
  }

  .amrap {
    .reps {
      color: #338533;

      &:after {
        content: '+';
      }
    }
  }

  .warmup-indicator {
    display: none;
  }

  .warmup {
    .reps {
      color: #666666;
    }
    .warmup-indicator {
      display: inline;
      padding-right: 7px;
      font-size: 0.7em;
    }
  }

  .invalid-plates {
    color: red;
  }
}