@import "compass/css3/border-radius";

$fontSize: 1.1em;
$dateFontReduction: 0.85;

span.disclosure-small{
    float: right;
    width: 16px;
    height: 24px;
    -webkit-mask-image: url('../images/right_arrow_smaller.png');
    background: grey none;
}

.hidden {
    display:none;
}

@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade-in {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}

div.lift-log-row {
    table{
        width: 100%;
    }

    .lift-name {
        font-size: $fontSize !important;
        font-weight: bolder;
    }

    .weight {
        font-size: $fontSize !important;
    }

    .reps
    {
        color: #666;
        font-size: $fontSize !important;
    }

    td.date-week{
        text-align: right;
    }

    .date, .week {
        font-size: $dateFontReduction * $fontSize !important;
        color: #666;
        padding-right:5px;
    }
}

#lift-log-empty-text{
    color: #777;
    text-align: center;
    width: 100%;
    padding: 0 1em;

    position: absolute;
    top: 50%;
    height: 1em;
    margin-top: -1.5em;
}

#edit-log-notes{
    background-color: white;
    padding: 5px;
    border: solid 2px #555;
    @include border-radius(4px,4px);
}

#edit-log-notes.tapped {
    color: black;
    background-color: #77B2F8;

    div.notes-empty-text{
        color: black;
    }
}

div.notes-empty-text {
    width: 100%;
    text-align: center;
    color: #a9a9a9;
}

div.notes-form{
   height: 100%;
   margin: 0px;
   border: solid 2px #a9a9a9;
   @include border-radius(8px,8px);
}
