@import "compass/css3/border-radius";

$fontSize: 1.1em;
$smallerFontSize: 0.85 * $fontSize;
$dateFontReduction: 0.85;

$mutedBlack: #666;
span.disclosure-small {
  float: right;
  width: 16px;
  height: 24px;
  -webkit-mask-image: url('../images/right_arrow_smaller.png');
  background: grey none;
}

.hidden {
  display: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
}

.x-list div.log-row, div.lift-list-row {
  .x-list-item-label {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  table {
    width: 100%;
  }

  .lift-name {
    font-size: $fontSize !important;
    font-weight: bolder;
  }
  .cycle-and-week {
    color: $mutedBlack;
    font-size: $smallerFontSize;
  }

  .weight {
    font-size: $fontSize !important;
  }

  .reps {
    font-weight: bold;
    color: $mutedBlack;
    font-size: $fontSize !important;
  }

  .deload-indicator {
    font-size: 90%;
    color: red;
  }

  .estimated-one-rep {
    color: $mutedBlack;
    font-size: $smallerFontSize;
  }

  td.date-week {
    text-align: right;
  }

  .date, .week {
    font-size: $dateFontReduction * $fontSize !important;
    color: $mutedBlack;
    padding-right: 5px;
  }
}

#lift-log-empty-text {
  color: #777;
  text-align: center;
  width: 100%;
  padding: 0 1em;

  position: absolute;
  top: 50%;
  height: 1em;
  margin-top: -1.5em;
}

.log-row {
  .x-list-item-label {
    padding: 0;
  }
}

.unsynced {
  background: image-url('hourglass.png', false, false);
}

.synced {
  background: image-url('tick_small.png', false, false);
}

.synced, .unsynced {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}