$fontSize: 1.1em;
$dateFontReduction: 0.85;

span.disclosure-small{
    float: right;
    width: 16px;
    height: 24px;
    -webkit-mask-image: url('../images/right_arrow_smaller.png');
    background: grey none;
}

#no-log-help-text-container{
 position: relative;
}

#no-log-help-text{
    text-align: center;
    color: #a9a9a9;
    position: absolute;
    top: 50%;
    font-size: 1em;
    margin-top: -1em;
    width: 100%;
    padding: 0 0.5em;
}

div.lift-log-row {
    padding: 2px 5px!important;
    min-height: 0px !important;
    table{
        width: 100%;
    }

    .lift-name {
        font-size: $fontSize !important;
        font-weight: bolder;
    }

    .weight {
        font-size: $fontSize !important;
    }

    .reps
    {
        color: #666;
        font-size: $fontSize !important;
    }

    td.date-week{
        text-align: right;
    }

    .date, .week {
        font-size: $dateFontReduction * $fontSize !important;
        margin-top: $fontSize - $fontSize * $dateFontReduction;
        color: #666;
        padding-right:5px;
    }
}

#lift-log-empty-text{
    color: #777;
    text-align: center;
    width: 100%;
    padding: 0 1em;

    position: absolute;
    top: 50%;
    height: 1em;
    margin-top: -1.5em;
}