<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.phonegap.example"
        versionCode="43"
        version="2.2.2">
    <name>Wendler 5/3/1</name>

    <description>
        Helps track and manage the 5/3/1 lifting program designed by Jim Wendler. Set your one-rep maxes, and just get
        lifting.
    </description>

    <author href="http://www.wendler.mobi" email="wendler531@stefankendall.com">
        Stefan Kendall
    </author>

    <icon src="icons/icon-iphone-57x57.png" width="57" height="57"/>
    <icon src="icons/icon-iphone-72x72.png" width="72" height="72"/>
    <icon src="icons/icon-iphone-114x114.png" width="114" height="114"/>

    <preference name="permissions" value="none"/>
    <preference name="target-device" value="universal" />
</widget>