<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.stefankendallgmail.com.wendler531"
        versionCode="50"
        version="20">
    <name>Wendler 5/3/1</name>

    <description>
        Helps track and manage the 5/3/1 lifting program designed by Jim Wendler. Set your one-rep maxes, and just get
        lifting.
    </description>

    <author href="http://www.wendler.mobi" email="wendler531@stefankendall.com">
        Stefan Kendall
    </author>

    <icon src="icons/icon-57x57.png" width="57" height="57"/>
    <icon src="icons/icon-72x72.png" width="72" height="72"/>
    <icon src="icons/icon-114x114.png" width="114" height="114"/>

    <gap:splash src="splashes/splash480x800.png" width="480" height="800"/>
    <gap:splash src="splashes/splash320x480.png" width="320" height="480"/>

    <preference name="permissions" value="none"/>
    <preference name="target-device" value="universal"/>
</widget>