.config-gear {
  width: 32px;
  height: 32px;
  background-image: image-url('settings.png', false, false);
  position: relative;
  top: 6px;
}

.config-field.x-field {
  background: none !important;
}