.config-field {
  margin-bottom: 1px;
  border: none !important;
}

.config-fieldset {
  margin-top: 1px;

  .x-form-fieldset-inner {
    border: none !important;
    background: none !important;
  }
}

.config-gear {
  width: 32px;
  height: 32px;
  background-image: image-url('settings.png', false, false);
  position: relative;
  top: 6px;
}