.workout-item.collapsed {
  height: 32px;

  .x-list-item-label {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

.ss-workout {
  width: 100%;
  .name {
    font-weight: bold;
  }

  .last {
    text-align: right;
  }

  .sets {
    color: #555;
  }

  .timestamp {
    color: grey;
    font-size: 90%;
  }
}