#boring-but-big {
  .bar-loader-breakdown {
    display: block;
    font-size: 90%;
    color: grey;
  }

  table.assistance-plate-breakdown {
    width: 100%;
  }
}

#bbbTopBar {
  text-align: right;
  color: white;
  input {
    width: 33%;
  }
}